.Empty {
  text-align: center;
}
.Items {
  .Item {
    span {
      width: 100px;
      height: 100px;
      .item_img {
        width: 78px;
        object-fit: cover;
        border-radius: 1.25rem;
        width: 78px;
        height: 78px;
      }
    }
    .ItemQuan{
      width: 116px;
      height: 34px;
      background-color: transparent;
      display: flex;
      align-items: center;
      gap: 5px;
      button{
        background-color: transparent;
        border: none;
        font-size: 16px;
      }
      h1{
        background-color: transparent;
        font-size: 16px;
      }
    }
  }
}
