.Empty {
  width: 550px;
  height: 353px;
  box-shadow: 0 0 12px rgba(0,0,0,.05);
  margin: 137px auto;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
    max-width: 34.375rem;
    padding: 2.5rem;
    img{
      width: 100px;
    }
    h1{
      font-size: 24px;
      margin: 32px 0 8px;
    }
    p{
      font-size: 16px;
      margin: 0 0 40px;
    }
    button{
      font-size: 14px;
      padding: 12px 24px;
      background-color: #51267d;
      color: #fff;
      border-radius: 1.25rem;
      border: none;
    }
}
.Items {
  .Item {
    span {
      width: 100px;
      height: 100px;
      .item_img {
        width: 78px;
        object-fit: cover;
        border-radius: 1.25rem;
        width: 78px;
        height: 78px;
      }
    }
    .ItemQuan{
      width: 116px;
      height: 34px;
      background-color: transparent;
      display: flex;
      align-items: center;
      gap: 5px;
      button{
        background-color: transparent;
        border: none;
        font-size: 16px;
      }
      h1{
        background-color: transparent;
        font-size: 16px;
      }
    }
  }
} 