.Nav {
  display: fixed;
  display: sticky;
  border-bottom: 1px solid #eaeaea;
  .Nav_Container {
    margin: auto;
    width: 1300px;
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: space-between;
    gap: 30px;
    .Links {
      width: 550px;
      height: 90px;
      display: flex;
      align-items: center;
      .link {
        font-weight: 500;
        margin-left: 20px;
        &.active {
          font-weight: 700;
          color: blue;
        }
      }
    }
    .Right {
      display: flex;
      height: 90px;
      align-items: center;
      gap: 20px;
      margin-left: 200px;
      .LoactionDot {
        width: 35px;
        height: 35px;
        font-size: 25px;
        padding: 8px 8px;
        border-radius: 50%;
        background-color: #f1eff4;
      }
      h3 {
        width: 230px;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        margin-top: 9px;
        span {
          color: blue;
        }
      }
      .dropdown {
        border-radius: 1.25rem;
        background-color: #f1eff4;
        img {
          margin-right: 9px;
        }
      }
      .Cart {
        width: 35px;
        height: 35px;
        padding: 8px 8px;
        border-radius: 50%;
        background-color: #f1eff4;
      }
      .CartTotal {
        width: 60px;
      }
      .User {
        width: 35px;
        height: 35px;
        padding: 8px 8px;
        border-radius: 50%;
        background-color: #f1eff4;
      }
    }
  }
}
